* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

@keyframes sizeUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}


#hero-banner {
    width: 100%;
}

#about,
#news,
#nav_list li a{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#nav-mobile li a:hover {
    background: #f58426;
}


#nav-mobile_bottom li a {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#nav-mobile_bottom li:hover {
    background: #f58426;
}

#donate_btn {
    background: #f58426;
    width: 100px;
}


#nav_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#logo_container--bottom {
    z-index: 100;
    height: 25%;
    width: 15%;
    background-repeat: no-repeat;
    background-position: top;
}

#logo {
    position: relative;
    height: 6rem;
    top: -2rem;
    left: 5rem;
}

.icon-block img {
    width: 25%;
}

.icon-block img:hover {
    animation: 0.3s linear sizeUp;
    animation-fill-mode: forwards;
}

#our-work_row {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
}


#our-work_row h5 {
    font-size: 48px;
}

#our-work_list {
    display: flex;
    width: 100%;
}

#our-work_list li {
    display: flex;
    flex-direction: column;
}

#our-work_list img {
    width: 60%;
}

#our-work_list span{
    padding-top: 2rem;
    font-size: 15px;
}

#impact_list {
    display: flex;
    padding-top: 15px;

}

#impact_list img {
    width: 65%;
    border: 1px solid #f58426;
    margin-bottom: 25px;
}

#impact_list img:hover {
    animation: 0.3s ease-in sizeUp;
    animation-fill-mode: forwards;
}

.page-footer {
    background: #C62828;
}

#page-footer__row{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#final-body__container {
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#final-body__child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#final-body__child .row a{
    width: 15rem;
    font-size: 26px;
}

#footer-social_list-container {
    display: flex;
    margin-top: 35px;
    margin-bottom: 15px;
    width: 100%;
}

#footer-social_list {
    display: flex;
}

#footer-social_list img{
    width: 70px;
    margin-right: 15px;
}

#footer-social_list img:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

#footer-list__container {
    width: 100%;
    display: flex;
    flex-direction: column;

}


#footer-list {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#footer-list li {
}
.right{
    color: white;
}

.hidden {
    visibility: hidden;
    bottom: 1rem;

}
@media screen and (max-width: 768px){
    @keyframes dropdown {
        0% {
            position: relative;
            bottom: 2rem;
        }
        100% {
            visibility: visible;
            bottom: -2rem;
        }
    }

    #bottom-parallax_container {
        min-height: 215px;
    }
    #logo {
        left: 0;
    }

    #impact_list {
        flex-direction: column;
        width: 55%;
    }

    #footer-list {
        flex-direction: column;
    }

    #footer-list:after {
        content: '';
    }
    #footer-social_list img{
        width: 30px;
        margin-right: 15px;
    }

    #index-banner {
        min-height: 125px;
    }

    #final-body__container {
        height: 1rem;
    }
    .show {
        display: none;

    }

    .hidden {
        animation: 2s linear dropdown;
        animation-fill-mode: forwards;

    }

    .hidden li a {
        background: #f58426;
        font-size: 18px;
        color: white;

    }
}